*{
  font-family: "Times New Roman", Times, serif;
}

body{
  background-image: url("https://images.wallpapersden.com/image/download/line-colorful-bright_4075_2048x1152.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment:fixed;
}

.inline_block{
  display: inline-block;
  overflow: hidden;
}

h1{
  text-align: center;
  text-decoration: underline;
  color: white
}

/* --Login and Signup Page -- */

.login-signup-container{
  background-image: linear-gradient(-60deg, rgb(95, 0, 0), rgb(4, 97, 179));
  position: relative;
  width: 60vw;
  margin: 0 auto;
  top: 10vh;
  border-radius: 10px;
  color: white;
}

.login-signup-container h1 {
  text-align: center;
  font-size: 2em;
  word-spacing: 3px;
}

.login-signup-container input{
  width: 45vw;
  margin: 0 auto;
  text-align: center;
}

.login-signup-container label{
  position: relative;
  font-size: 1.3em;
  left: 8vw;
}

.login-signup-container button{
  position: relative;
  width: 10vw;
  margin: 1vh 0;
  transition: ease-in-out 0.3s;
}

.login_signup_btn_container{
  margin: 0 auto;
  width: 15vw;
  text-align: center;
}

.login-signup-container button:hover{
  width: 12vw;
}

.login-signup-container button:focus{
  width: 12vw;
}

/*--Upcoming Movie Container --*/
.over_flow_text{
  margin-top: 2vh;
  overflow: hidden;
  height: 7.6em;
}

.overflow-ellipsis {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 7.5em;
}

.slide-container{
  background-image: linear-gradient(-60deg, rgb(39, 39, 39), rgb(58, 58, 177));
  color: aliceblue;
  width: 60vw;
  height: 55vh;
  border-radius: 10px;
  margin: 2vh 0 10vh 5vw;
}

.top_movie_item_image{
  border-radius: 5px;
  width: 20vw;
  height: 60vh;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.top_movie_item_image img{
  width: 20vw;
  height: 60vh;
}

.top_movie_item_image:hover{
  transform: rotate(5deg);
}

.top_movie_item_info{
  position: relative;
  left: 1vw;
  width: 38vw;
  height: 60vh;
  font-size: 1.5em;
  text-align: center;
}

.top_movie_item_info h1{
  margin-top: 3vh;
  font-size: 1.8em;
  position: relative;
  /* right: 2vw; */
}

/* --Top Movies Container -- */

.top_movies_slide_container {
  position: relative;
  top: 7vh;
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 20vh;
  border-radius: 10px;
  overflow: hidden;
}

.top_movies_slide_container .image_movie_card_container{
  width: 20vw;
  height: 50vh;
  border-radius: 10px;
  margin: 0 13vw;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  overflow: hidden;
}

.top_movies_slide_container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.top_movies_slide_container .image_movie_card_container:hover{
  padding: 1vh;
}

.top_movies_slide_container .ranks_label{
  position: relative;
  bottom: 3vh;
  color: gold;
  width: 4em;
  height: 1.5em;
  font-size: 1.5em;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

/* --- Movie Comment Page --- */

.comment_review_content{
  width: 50vw;
}

.show_text_btn , .like_and_dislike_btn , .reply_btn{
  border: 0;
  background-color: none;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.reply_btn:hover {
  color: rgb(53, 53, 155);
  margin-left: 0.5vw;
}

/* --- Movie Like and Dislike Page --- */

.show_text_btn{
  color: rgb(53, 53, 155);
  margin: 0.2vh 0;
  font-size: 1em;
}

.like_and_dislike_btn{
  color: rgb(85, 85, 85);
  font-size: 1.3em;
}

.like_and_dislike_btn label{
  margin-left: 0.5vw;
}

.like_dislike_reply_container{
  display: inline-block;
}

.show_text_btn:hover{ 
  text-decoration: underline;
}

.show_text_btn:focus, .like_and_dislike_btn:focus, .reply_btn:focus{
  outline: none;
}

/* -- User profile page -- */
.user_profile_container{
  width: 100vw;
  height: 95vh;

}
 
.user_info_container , .user_activity_container{
  border: 1px solid white;
  background-color: black;
  color: white;
}

.user_info_container{
  width: 80vw;
  height: 95vh;
}

.user_activity_container{
  position: relative;
  width: 20vw;
  height: 95vh;
}

/* --chat container -- */

.chat_container_tank {
  position: relative;
  border: 1px solid white;
  height: 1px;
  top: 90vh
}

.chat_container{
  display: block;
  border: 1px solid rgb(0, 82, 129);
  border-bottom: none;
  border-radius: 10px;
  width: 20em;
  height: 20em;
  position: relative;
  bottom: 21em;
  float: right;
  z-index: 1;
}

.chat_container input , .chat_container button{
  width: 20em;
}

.chat_container input{
  border-radius: 5px;
  height: 2em;
  text-align: center;
}

.chat_container button{
  position: relative;
  bottom: 1.5em;
}

.chat_lists{
  color: white;
  width: 20em;
  height: 16em;
  overflow-y: scroll;
  padding-right: 17px;
  /* overflow: hidden; */
}

.chat_lists::-webkit-scrollbar-track{
  border-radius: 2px;
  /* background-color: rgb(255, 255, 255); */
}

.chat_lists::-webkit-scrollbar{
  width: 8px;
  /* background-color: rgb(0, 0, 0); */
} 

.chat_lists::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-image: linear-gradient(-60deg, rgb(78, 0, 0), rgb(58, 58, 177));
}
