*{
  font-family: "Times New Roman", Times, serif;
}

.comment_review_content{
  width: 50vw;
}

.show_text_btn , .like_and_dislike_btn , .reply_btn{
  border: 0;
  background-color: none;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.reply_btn:hover {
  color: rgb(53, 53, 155);
  margin-left: 0.5vw;
}

.show_text_btn{
  color: rgb(53, 53, 155);
  margin: 0.2vh 0;
  font-size: 1em;
}

.like_and_dislike_btn{
  color: rgb(85, 85, 85);
  font-size: 1.3em;
}

.like_and_dislike_btn label{
  margin-left: 0.5vw;
}

.like_dislike_reply_container{
  display: inline-block;
}

.show_text_btn:hover{ 
  text-decoration: underline;
}

.show_text_btn:focus, .like_and_dislike_btn:focus, .reply_btn:focus{
  outline: none;
}

