.comment_review_content{
  width: 50vw;
}

.show_text_btn{
  border: 0;
  background-color: none;
  outline: none;
  color: rgb(53, 53, 155);
  font-size: 1em;
  margin: 1vh 0;
  cursor: pointer;
}

.show_text_btn:hover{
  border-bottom: 1px solid rgb(53, 53, 155) ;
}

.show_text_btn:focus{
  outline: none;
}

